<%- include("partials/header1.ejs") %>
<main>
    <body>
        <p><strong>Welcome <br>Star</strong></p>
        <div class="index">
            <form action="/register" method="get"><br>
                <label for="newUser">New User</label><br/>
                <button>Register</button>
            </form><br>
            <form action="/logIn" method="get">
                <label for="existingUser">Existing User</label><br/>
                <button>Login</button>
            </form>
        </div>
    </body>    
</main>

