<%- include("partials/header1.ejs") %>
<main>
    <body>
        <h1>You have been successfully logged out.</h1>
        <p>Click to <a href="register">Register</a><br> or <br> <a href="login">Login</a></p>
    </body>
</main>
