<%- include("partials/header1.ejs") %>
<main>
    <body>
        <form action="/registered" method="POST" class="register">
            <label for="userName">UserName</label><br/>
            <input type="text" name="userName" required><br/><br>
            <!-- <input type="text" pattern=".{3,10}" name="userName" placeholder="UserName(max 10 characters)" required><br/> -->
            <label for="mobNo">Mobile Number</label><br/>
            <input type="tel" name="mobNo" placeholder="10 digit Mobile number" required><br/><br>
            <!-- <input type="tel" pattern="[6-9][0-9]{9}" name="mobNo" placeholder="10 digit Mobile number" required><br/> -->
            <label for="password">Password</label><br/>
            <input type="password" name="password" placeholder="6-8 character password" required><br/><br>
            <!-- <input type="password" pattern=".{6,8}" name="password" placeholder="6-8 character password" required><br/> -->
            <!-- <label for="password">Confirm Password</label><br/>
            <input type="password" pattern=".{6,8}" name="password" placeholder="6-8 character password" required><br/> -->
            <button id="back-btn" type="button">Go Back</button>
            <input type="submit" value="Register">
        </form>
        <script>
            const backBtn = document.getElementById('back-btn');
            backBtn.addEventListener('click', () => {
                window.history.back();
            })
        </script>
    </body>
</main>
